$white: #F9F8F8;
$blueLight: rgba(126, 127, 154, 0.4);
$blue: #7E7F9A;
$red: #EB9486;
$black: #272838;
$font: 'Fjalla One', sans-serif;

body {
  color: $black;
  background-color: $white;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font;
}

header {
  position: relative;
  background-image: url(https://drscdn.500px.org/photo/4116933/q%3D80_m%3D1500/54a28153694cbf949dc3d925e78c4ecc);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position-y: -100px;
  padding-left: 0;
  padding-right: 0;
  h1 {
    color: $white;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    margin-top: 72px;
    font-size: 6.2em;
  }
  .blue {
    background-color: $blueLight;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  margin-top: 30px;
}

.citySearch {
  width: 100%;
  .clicked {
    background-color: white;
    border-right: 1px solid white;
    margin-right: -1px;
  }
  div {
    border: 1px solid #ccc;
    border-bottom: none;
    border-right: none;
    border-radius: 3px;
    padding: 5px 10px;
  }
  &:last-child {
    border-bottom: 1px solid #ccc;
  }
}
.content {
  background-color: white;
  min-height: 800px;
  border: 1px solid #ccc;
  margin-left: -16px;
  border-radius: 3px;
  z-index: -1;
}
.icon {
  overflow: hidden;
  border-radius: 3px;
  padding-left:0;
  .iconImg {
    height: 100px;
  }
}


.post {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  margin-top:30px;
}

.info {
  padding: 0;
  h3 {
    margin-top: 0;
  }
}

label {
  font-size: 1.2em;
}


// .col-sm-3 {
//   margin-top: -90px;
// }
